<div class="splash-screen">
<h2 class="font-bold">Cash App</h2>
<p>
  <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary font-light' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-secondary font-light' %>
</p>
</div>