<div class="splash-screen">
<h2 class="font-bold">Cash App</h2>
<p>
  <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary font-light font-white' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'font-light splash-signup' %>
</p>
</div>